html {
  height: 100%
}

body {
  margin: 0;
}

.right-drawer{
  .MuiIconButton-label{
    justify-content: flex-end;
  }
  // .MuiIconButton-root {
  //   border-radius: 0px;
  // }

  .MuiSvgIcon-root {
    font-size: 2em;
  }
  .MuiButtonBase-root{
    //text-align: center;
    border-radius: 0px;
    color: #835B91;
    padding-left: 4vw;
  }
  .drawer-inner{
    color: $dark-purple;
  }
}