.demographic-survey-page {
    margin: 104px auto 98px auto;
    font-style: normal;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.05em;
  
    /** Mobile **/
    @media only screen and (max-device-width: 1024px) {
      &__image-container {
        display: none;
      }
  
      div.MuiLinearProgress-root {
        max-width: 417px;
      }
  
      // button.MuiToggleButton-root {
      //   min-width: 250px;
      // }

      
      .MuiToggleButtonGroup-root {
        // background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        margin: 2vh 0px;
      }

      .MuiOutlinedInput-input {
        justify-content: center;
      }

      .MuiToggleButton-root {
        margin: 2vh 1vw;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 0;
      }

      .MuiToggleButtonGroup-groupedHorizontal:not(:last-child) {
        margin: 1vh 0px;
      }


      .MuiToggleButtonGroup-groupedHorizontal:not(:first-child) {
        border: 1px solid rgba(0, 0, 0, 0.12);
      }

      
      .previous-therapy-form {
        flex-direction: column;
      }

    }

    @media only screen and (max-device-width: 768px) {

    }
  
    h1 {
      font-family: "Catamaran", sans-serif;
      font-size: 36px;
      color: $dark-gray;
      margin-bottom: 4px;
    }
  
    img {
      max-width: 100%;
    }
  
    .MuiLinearProgress-root {
      height: 16px;
      background-color: #eee;
      border-radius: 25px;
      margin: auto;
      max-width: 660px;
    }
  
    .MuiLinearProgress-barColorPrimary {
      background-color: $dark-purple;
    }
  
  
    .MuiButton-contained {
      font-family: "Catamaran", sans-serif;
      font-size: 24px;
      line-height: 39px;
      margin: 3vh auto 12px auto;
      align-items: center;
      color: white;
      background-color: $dark-purple;
      border-radius: 50px;
      text-transform: capitalize;
      min-width: 256px;
    }
  
    .MuiButton-contained:hover {
      background-color: $purple-text;
    }
  
    .MuiButton-text {
      font-family: "Catamaran", sans-serif;
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 4vh;
      color: $purple-text;
      text-transform: capitalize;
    }
  
    &__progress-text {
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      color: $dark-purple;
      font-size: 15px;
      line-height: 19px;
      margin-top: 0;
    }
  
    &__question-num {
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      align-items: flex-end;
      letter-spacing: 0.02em;
      color: $dark-purple;
      // text-align: left;
      margin: 2vh 0px;
    }
  
    &__question-text {
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      align-items: center;
      letter-spacing: 0.02em;
      color: $dark-gray;
      text-align: start;
      
    }

    .shadow {
      box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
    }

    .form-dropdown {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    #province-select-label, #education-select-label {
      position: relative;
    }

    .text-input {
      margin: 2vh 0px 0px ;
      width: 75%;
    }


    .previous-therapy-form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .MuiOutlinedInput-input {
      box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
    }

    .MuiToggleButtonGroup-root {
      margin: 0 1vw;
    }

    .form-div{
      margin: 3vh 0px;
      // display: flex;
      // justify-content: space-between;
    }

    .therapy-no {
      align-self: center;
      margin: 2vh 0;
      width: 20vw;
    }

    #therapy-text {
      width: 45vw;
    }

    // .demographic-survey-page__question-num {
    //   margin-top: 0px;
    // }
    // .form-div{
    //   width: 100%;
    //   // background-color: red;
    // }
  }
  