@import "./variables.scss";

.next-steps-page {
  box-sizing: border-box;
  font-style: normal;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.05em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin: 104px auto 98px auto;

  /** Mobile **/
  @media only screen and (max-device-width: 1024px) {
    &__image-container {
      display: none;
    }

    div.MuiLinearProgress-root {
      max-width: 417px;
    }
    .MuiButton-contained {
      font-family: "Catamaran", sans-serif;
      font-size: 24px;
      line-height: 39px;
      margin: 5vh auto 3vh auto;
      align-items: center;
      color: white;
      background-color: $dark-purple;
      border-radius: 50px;
      text-transform: capitalize;
      min-width: 256px;
    }

    button.MuiToggleButton-root {
      min-width: 250px;
    }
  }

  // p {
  //   margin-block-start: 0px;
  //   margin-block-end: 0px;
  //   margin-inline-start: 0px;
  //   margin-inline-end: 0px;
  // }

  .next-steps-h1 {
    font-family: "Catamaran", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: black;
    font-style: normal;
    justify-content: center;
    align-items: center;
    align-content: center;
    // margin: 3vh 0 2vh;
  }

  h1 {
    font-family: "Average Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: $dark-purple;
    font-style: normal;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 3vh 0 2vh;
  }

  h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 1.25em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 1vw 0;
  }

  h4 {
    font-weight: normal;
    text-indent: 15px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 2vh auto;
  }

  li {
    // margin: 1vh 0;
  }

  a {
    text-decoration: none;
    color: $dark-purple;
  }

  @media (max-width: 960px) {
    .swing {
      display: none;
    }
  }

  .MuiDivider-root {
    border: 1px solid $light-purple;
    background-color: $light-purple;
  }

  .MuiButton-contained {
    font-family: "Catamaran", sans-serif;
    font-size: 24px;
    line-height: 39px;
    margin: 3vh auto 5vh auto;
    align-items: center;
    color: white;
    background-color: $dark-purple;
    border-radius: 50px;
    text-transform: capitalize;
    min-width: 256px;
  }

  .MuiButton-contained:hover {
    background-color: $purple-text;
  }

  .MuiButton-text {
    font-family: "Catamaran", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: $purple-text;
    text-transform: capitalize;
    height: 40px;
    align-self: center;
  }

  &__info-title {
    font-family: "Catamaran", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42.66px;
    align-items: flex-start;
    letter-spacing: 0.02em;
    text-align: center;
    // padding-top: 10px;
  }

  &__info-text {
    font-family: "Average Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 0.02em;
    color: $dark-gray;
    text-align: start;
    margin-top: 10px;
    // margin-bottom: 30px;

    h4 {
      text-indent: 0;
      font-size: 20px;
      font-weight: 600;
      // font-style: bold;
      margin-bottom: 0px;
    }

    h5 {
      font-size: 20px;
      font-weight: 500;
      // font-style: bold;
      margin-bottom: 0px;
    }

    ul {
      margin: 0px 0.5em;
    }

    .nutritionTextAndImage {
      display: flex;
      flex-wrap: nowrap;

      .nutritionImage2 {
        width: 40%;
        align-self: center;
      }
    }

    .nutritionImage {
       width: 20%;
      //  margin: auto;
    }

    .carrot {
      width: auto;
      height: 200px;
    }

    p {
      margin: 0 0 2vh;
    }

    #no-margin {
      margin: 0;
    }

    .margin-top {
      margin-top: 2vh;
    }
  }

  &__info-box {
    font-family: "Average Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
    align-items: flex-start;
    // letter-spacing: 0.02em;
    color: $dark-gray;
    text-align: start;
    background-color: #efeaf3;
    border-radius: 5px;
    padding: 15px 50px;
    margin-bottom: 10px !important;
  }

  &__info-box2 {
    font-family: "Average Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    align-items: flex-start;
    letter-spacing: 0.02em;
    color: $dark-gray;
    text-align: start;
    background-color: #efeaf3;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px !important;
  }

  &__info-dropdown {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    align-items: center;
    letter-spacing: 0.02em;
    color: $dark-purple;
    cursor: pointer;
    text-align: start;
    margin-bottom: 2vh;
  }

  .MuiDivider-root {
    height: 1.5px;
  }

  .spacing {
    margin: 3px;
  }

  .no-list-style {
    list-style: none;
    padding: 0;
  }

  .li-padding {
    padding-left: 30px;
  }

   .collapsible-section {
        padding: 4vh 0 2vh;
        width: 90%;
        margin: auto;
    }

    .header{
        cursor: pointer;
        border: solid 1px #f2f2f2;
        padding: 0.5em 1.3em;
        background-color: #EFEAF3;
        color: #454346;
        font-family: Quicksand;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        // width: 100%;
        text-align: left;
        display: flex;
        justify-content: space-between;
      }
      
      .content{
        // cursor: pointer;
        border-left: solid 1px #f2f2f2;
        border-right: solid 1px #f2f2f2;
        border-bottom: solid 1px #f2f2f2;
        border-radius: 0 0 5px 5px;
        padding: 15px;
        font-family: verdana;
        font-size: 14px;
        background-color: #FAFAFA;
      }

      .outsideText {
        text-align: left;
        margin-bottom: 2vh;

        h3 {
          font-family: "Average Sans";
          font-weight: 400;
          font-style: normal;
          font-size: 20px;
          margin: 3vh 0 0;
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
          text-decoration: underline;
        }

        li {
          font-family: "Average Sans";
          font-weight: 400;
          font-style: normal;
          font-size: 20px;
        }

        p {
          font-family: "Average Sans";
          font-weight: 400;
          font-style: normal;
          font-size: 20px;
          margin: 3vh 0 0;
        }
      }

      .imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2vh 2vw 4vh;

        img {
          margin: 0 1vw;
        }
      }
}

@media only screen and (max-device-width: 575px) {
  .next-steps-page h1 {
    font-size: 1.5em;
  }

  .MuiButton-label {
    font-size: 0.7em;
    line-height: normal;
  }
}

@media only screen and (max-device-width: 425px) {
  .next-steps-page h1 {
    font-size: 1em;
  }

  .MuiButton-label {
    font-size: 0.6em;
  }
}
