@import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

@import './variables.scss';

@import './components/body';

@import './components/nav-bar';

@import './components/survey-page';

@import './components/main-page';

@import './components/results-page';

@import './components/review-page';

@import './components/completed-survey-page';

@import './components/demographic-survey-page';

@import './components/next-steps-page';

@import './components/dialog';

@import './components/footer';
